{% extends "scada/header.html" %}

{% block content %}
<p>
Supervisory control and data acquisition (SCADA) is a system of software and hardware elements that allows industrial organizations to:<br>
<ul>
	<li>Control industrial processes locally or at remote locations</li>
	<li>Monitor, gather, and process real-time data</li>
	<li>Directly interact with devices such as sensors, valves, pumps, motors, and more through human-machine interface (HMI) software</li>
	<li>Record events into a log file</li>
	<li>SCADA systems are crucial for industrial organizations since they help to maintain efficiency, process data for smarter decisions, and communicate system issues to help mitigate downtime.</li>
</ul><br>

The basic SCADA architecture begins with programmable logic controllers (PLCs) or remote terminal units (RTUs). PLCs and RTUs are microcomputers that communicate with an array of objects such as factory machines, HMIs, sensors, and end devices, and then route the information from those objects to computers with SCADA software. The SCADA software processes, distributes, and displays the data, helping operators and other employees analyze the data and make important decisions.<br><br>

For example, the SCADA system quickly notifies an operator that a batch of product is showing a high incidence of errors. The operator pauses the operation and views the SCADA system data via an HMI to determine the cause of the issue. The operator reviews the data and discovers that Machine 4 was malfunctioning. The SCADA system’s ability to notify the operator of an issue helps him to resolve it and prevent further loss of product.<br>
</p>

{% endblock %}
