{% block content %}

<div>
<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><a style="text-decoration:none;" href="/dashboard/"> Dashboard</a>
</button>
<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span><a style="text-decoration:none;" href="/stats/"> Stats</a>
</button>
<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span><a style="text-decoration:none;" href="/history/"> History</a>
</button>
<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><a style="text-decoration:none;" href="/control"> Control</a>
</button>

</div><br>
{% endblock %}
